################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/repos/ST10090477_PROG_POE_GROUP_2/ST10090477_PROG_POE_GROUP_2.sln
/source/repos/ST10090477_PROG_POE_GROUP_2/ST10090477_PROG_POE_GROUP_2.sln
/source/repos/ST10090477_PROG_POE_GROUP_2/ST10090477_PROG_POE_GROUP_2.sln
